<.stream_tag action="replace", target="bill-form">
  <turbo-frame id="bill-form" class="container fixed bottom-0 mx-auto">
    <%= render "form.html", Map.put(assigns, :action, Routes.bill_path(@conn, :create)) %>
  </turbo-frame>
</.stream_tag>
