<%= turbo_stream_tag(@conn, "bills-index") %>

<turbo-frame id="bills-index" class="grid grid-cols-2 gap-5">
  <%= for bill <- @bills do %>
    <%= render("_row.html", %{bill: bill, conn: @conn}) %>
  <% end %>
</turbo-frame>

<turbo-frame id="bill-form" class="container fixed bottom-0 mx-auto bg-gray-100">
  <%= render "form.html", Map.put(assigns, :action, Routes.bill_path(@conn, :create)) %>
</turbo-frame>
