<h1>Show Bill</h1>

<%= render("_row.html", %{bill: @bill}) %>

<span><%= link "Edit", to: Routes.event_bill_path(@conn, :edit, @event_id, @bill) %></span> |
<span><%= link "Back", to: Routes.event_bill_path(@conn, :index, @event_id) %></span>
