<turbo-stream action="replace" target={"bill-#{@bill.id}-row"}>
  <template>
      <%= render("_row.html", %{bill: @bill}) %>
  </template>
</turbo-stream>

<turbo-stream action="append" target="bills-index">
  <template>
      <%= render("_row.html", %{bill: @bill}) %>
  </template>
</turbo-stream>
