.container {
  display: grid;
  height: 80vh;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "cards"
    "form";
}

#bills-index {
  grid-area: cards;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: minmax(40%, auto);
  overflow: auto;
}

.card {
  display: grid;
}

#bill-form {
  grid-area: form;
}
